/* GENERAL */

html, body{
    margin: 0;
    padding: 0;
    background-color: #ffefdb;
    font-family: Kosko regular;
}

:root {
  --diagonale-step: 21vw; 
}

h2{
    font-family: Kosko;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 0px;
}

p{
    font-size: 25px; 
    margin-top: 0;
    margin-bottom: 0;
}



/* INTRO */

#intro{
    height: 532px;
}

img.titre{ 
    width: 475px;
    display: flex;
    margin: auto;
    padding-top: 80px;
}

    /* Barre de navigation */

.navbar{
    background-color: transparent;
    min-height: 52px;
    padding-top: 108px;
}

nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 330px;
    list-style: none;
    margin-bottom: 0;
}

        /* Titres des parties */

nav ul li a{
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #ffefdb;
}

.ttp{
    width: 120px;
}
    
        /* Boutons */

nav ul li{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 160px;
    padding: 7px;
    text-align: center;
    margin-left: 0;
}

.etc{
    background-color: #0295C8;
}

.resume{
    background-color: white;
}

.bleu{
    background-color: #334293;
}



/* ETC */

.E{
    height: 400px;
    background-color: #009FE3;
    position: relative;
}

#T{
    height: 500px;
    background-color: #FFEE00;
    position: relative;
}

#C{
    height: 380px;
    background-color: #E6007C;
    position: relative;
}

    /* Textes */

.eq{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tdl{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cr{
    width: 1000px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* TO THE POINT */

#to-the-point{
    height: 492px;
    background: white;
    position: relative;
}

.texte{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}

    /* Synthèse */

img.stage{
    width: 120px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
}

.liste{
    margin-top: 0;
    font-size: 20px;
    list-style-position: inside;
    list-style-type: disc;
}

    /* Pantone */

span{
    color: #334293;
    font-weight: bold;
}

img.etc{
    width: 35px;
    vertical-align: baseline;
    background: transparent;
}



/* MONOCHROME */

#monochrome{
    height: 500px;
    background-color: #334393;
    display: flex;
    flex-direction: row;
    color: #ffefdb;
}

.pres{
    flex: 1;
	justify-content: center;
    align-content: center;
}

    /* Colonne 1 */

.rectangle{
    position: relative;
    border-radius: 20px;
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Kosko;
    text-decoration: none;
    color: #ffefdb; 
    background-image: 
        linear-gradient(to top, black, 50%, transparent), 
        url('assets/Bloques.png');
    background-size: 700px;
}

.fleche{
    position: absolute;
    width: 60px;
    top: 0px;
    right: 0px;
}

.rectangle:hover {
  transform: scale(1.02);
}

    /* Colonne 2 */

.mono{
    margin-bottom: 30px;
    margin-top: 0;
}

.une{
    font-family: kosko;
    color: white;
}

.liens{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

        /* Bouton 1 */

.bouton{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: #ffefdb;
    color: black;
    font-family: Kosko;
}

.bouton:hover {
  transform: scale(1.02);
}

.CV{
    font-style: italic;
}

        /* Bouton 2 */

.LinkedIn{
    display: flex;
    margin-left: 30px;
    margin-top: -10px;
}

.icone{
    height: 80px;
}

.LinkedIn:hover {
    transform: scale(1.06);
} 



/* FOOTER */

footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: #ffefdb;
}

.fin{
    background-image: linear-gradient(to bottom, #334393, 50%, #ffefdb);
    height: 70px;
}

    /* texte */

.mail{
    font-size: 20px;
    color: #ffefdb;
    background-color: #334393;
}

.free{
    text-decoration: none;
    color: #ffefdb;
    font-family: Kosko;
}

.made{
    font-size: 15px;
    margin-left: 0px; 
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    top: 80%; left: 50%;
    transform: translate(-50%, -50%);
}

    /* etc. */

.remonter{
    margin-left: auto;
    margin-right: auto;
/*    margin-top: 50px;*/
}

.conclu{
    padding: 10px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}



/* SEPARATEURS */

.separation1{
    height: 20px;
    background-color: #0295C8;
}

.separation2{
    height: 20px;
    background-color: #029640;
}

.separation3{
    height: 20px;
    background-color: #E30711;
}

.separation4{
    height: 20px;
    background-color: #f29fc5;
}

.separation5{
    height: 20px;
    background-color: #6C76B3
}

.intercalaire1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    width: 160px;
    background-color: #029640;
    margin-left: var(--diagonale-step);
    position: absolute;
    bottom: 0;
}

.intercalaire2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    width: 160px;
    background-color: #E30711;
    margin-left: calc(var(--diagonale-step) * 2);
    position: absolute;
    bottom: 0;
}

.intercalaire3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    width: 160px;
    background-color: #f29fc5;
    margin-left: calc(var(--diagonale-step) * 3);
    position: absolute;
    bottom: 0;
}

.intercalaire4{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    width: 160px;
    background-color: #6C76B3;
    margin-left: calc(var(--diagonale-step) * 4);
    position: absolute;
    bottom: 0;
}