html, body{
    margin: 0;
    padding: 0;
    background-color: #ffefdb;
    font-family: Gilbert;
}

}

.intro{
    min-height: 500px;
}

h1{ 
    font-family: Gilbert color;
    font-size: 350px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; 
}

.Gilbert color{
    font-family: Gilbert color;
     font-feature-settings: "";
}

.navbar{
    background-color: transparent;
    min-height: 52px;
}

nav ul{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 350px;
    list-style: none;
}

nav ul li a{
   /* color: #ffefdb; */
    font-size: 25px;
    text-decoration: none;
}

/*
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav ul a{
    text-decoration: none;
    color: black;
}
nav, header, section, footer{
    width: /*taille bannière; /*
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
    color: black;
    font-size: 10pt;
}

h2{
    color: black;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

*/
